.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

// add-option-error
.add-option-error {
  color: $off-white;
  font-style: italic;
  padding: 0 $m-size;
  margin: $m-size 0 0 0;
}

.add-option__text {
  flex-grow: 1;
  background: $dark-blue;
  border: none;
  margin-right: $s-size;
  border-bottom: .3rem solid darken($purple, 10%);
  margin: 0 0 $s-size 0;
  padding: $s-size;
  color: $off-white;
}

@media (min-width: 45rem) {
  .add-option { 
    flex-direction: row;
  }

  .add-option__text {
    margin: 0 $s-size 0 0;
  }
}